@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Fraunces:wght@700&family=Josefin+Sans:wght@300&family=Outfit&family=Overpass:wght@200&family=Poppins:ital,wght@0,100;0,400;1,700&family=Red+Hat+Display:wght@500&family=Roboto&display=swap");

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);

}

main {
  width: 350px;
  height: 550px;
  /* background-color: aqua; */
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);

}

main .image-part img {
  width: 350px;
  height: fit-content;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

main .text-section {
  background-color: hsl(225, 100%, 98%);
  /* background-color: hsl(225, 100%, 94%); */
  padding: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

main .text-section h1 {
  margin: 0;
  margin-top: -10px;
  font-family: "Red hat Display", sans-serif;
  text-align: center;
  font-size: 21px;
  color: hsl(223, 47%, 23%);
  overflow: hidden;
}

main .text-section .desc {
  padding: 0 20px;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

main .text-section .plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  background-color: hsl(224, 23%, 55%);
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  height: 70px;
}

.plan-price p {
  font-family: "Red hat Display", sans-serif;
  font-size: 13px;
  margin-left: -50px;
  color: hsl(225, 100%, 98%);
}

.plan-price .annual-plan {
  color: hsl(223, 47%, 23%);
  font-weight: 800;
  font-size: 14px;
}
.plan-price .price {
  margin-top: -10px;
}

.change-plan p {
  color: hsl(245, 75%, 52%);
  font-family: "Red hat Display", sans-serif;
  text-decoration: underline;
}


.payment-btn button{
    margin-top: 20px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    outline: none;
    padding: 15px;
    width: 290px;
    font-family: "Red hat Display", sans-serif;
    color:  hsl(225, 100%, 98%);
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 10px hsla(245, 75%, 52%, 0.1);
}


.cancel-order{

  text-align: center;
  margin-top: 20px;
  font-family: "Red hat Display", sans-serif; 
  color: hsl(224, 23%, 55%);
}